body {
	background-color: #1d2124;
	color: white;
	margin: 0;
	font-family: "Monserrat", "Avenir";
}

#heading {
	background: steelBlue;
	border: 1px solid white;
	width: 100%;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}

#heading h1,h2 {
	font-size: 2rem;
	line-height: 1rem;
}

#main {
	font-size: 3rem;
}

#colorDis {
	font-size: 150%;

}

#sub-head {
	background: white;
	color: blue;
	text-align: center;
	font-size: 1rem;
}

#sub-head h3 {
	background-color: white;
	text-align: center;
}

.sqr {
	background-color: purple;
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 15%;
	transition: background-color 0.7s;
	-webkit-transition: background-color 0.7s;
	-moz-transition: background-color 0.7s;
}

.container {
	max-width: 60%;
	margin: 0 auto;
	margin-top: 2%; 
}

.selected {
	background-color: steelBlue;
	color: white;
}

button {
	border: none;
	background-color: white;
	text-transform: uppercase;
	height: 100%;
	/*padding: 0;*/
	font-weight: 600;
	color: steelBlue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	background-color: steelBlue;
	color: white;
}

#msg {
	display: inline-block;
	width: 20%;	
}

.hidden {
	display: none;
}