* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #000000;
	background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

#main {
	margin: 0 auto;
	margin-top: 100px;
}

h1 {
	text-transform: uppercase;
	margin-bottom: 0px;
	width: 100%;
	color: white;
	margin-right: 0px;
	/*display: inline;*/
	background-color: blue;
	padding: 10px 20px;
	font-size: 25px;
	font-weight: normal;
}

div {
	/*margin-top: 100px;
	margin-left: 600px;*/
	margin: 100px 30em;
	width: 360px;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

li {
	border-bottom: 1px solid grey;
	width: 358px;
	/*text-align: center;*/
	/*margin: 10px 0px;*/
	list-style-type: none;
	background-color: #fff;
	font-size: 20px;
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

input {
	width: 334px;
	padding: 0;
	margin: 0;
	background-color: #f7f7f7;
	line-height: 40px;
	outline: none;
	font-size: 25px;
	text-align: inherit;
	padding-left: 20px;
	border: 3px solid rgba(0, 0, 0, 0);
	
	/*input-style-type: none;*/
	/*border: 1px solid black;*/
}

input:focus {
	background-color: white;
	color: blue;
	outline: none;
	border: 2px solid blue;
	overflow: hidden;
}

body {
	font-family: 'Gelasio', serif;
}

.completed {
	color: grey;
	text-decoration: line-through;
}

ul {
	padding: 0;
	margin: 0;
	line-height: 40px;
}
	/*margin-top: 10px;
}*/

.adder {
	float: right;
}

li span {
	background-color: #e74c3c;
	color: white;
	height: 40px;
	width: 0px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	opacity: 0;
	transition: 0.2s, linear-gradient;
}

li:hover span {
	width: 40px;
	opacity: 1;
}

./*hidden {
	height: 0;
	padding: 0;
	margin: 0;
}
*/

li span icon {
	margin: 10px;
}